html,body{
    text-align: center;
    width: 100%;
    height: 100%;
    font-family:  Arial, sans-serif;
}

.navbar{
    width: 100%;
    margin:auto;
}
#home img{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: auto;
}


#about{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../personal/img/aboutimgbg.jpg);
    width: 100%;
    margin:auto;
    /* padding-top: 50px; */
}

#about h2 img{
    
    margin:0;
    text-align: center;
    
}
#about .aboutimg img{
    margin-top: 20px;
    width: 30%;
}

#abouttxt{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../personal/img/aboutimgbg.jpg);
    width: 100%;
    margin:auto;
}
#abouttxt .txt{
    
    padding-top: 50px;
}
#abouttxt .txt p{
    font-size: 18pt;
    line-height: 1.5;
}
#abouttxt .txt h2{
    color: rgb(79, 54, 19);
    font-size: 24pt;
    text-decoration-style: wavy;
    line-height: 1.5;
    
}
#works{
    
    width: 100%;
    margin:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    background-image: url(../personal/img/worksimg.jpg);
}
#works h2 img{
    
    margin:auto;
    text-align: center;
    
}
#works .box{
    display: inline-block;
    width: 20%;
    margin: auto;
    /* margin-left: 60px; */
    margin-top: 50px;
    border-radius: 20% 0% 20% 0;
    
}
#works .box img{
    border: 5px solid rgb(224, 216, 195);
    width: 100%;
    border-radius: 20% 0 20% 0;
}
#works h3{
    text-align: center;
    font-size: 16px;
}
#works .box .more{
    font-size: 28pt;
}
.copy{
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: rgb(120, 157, 162);
}
.copy p{
    color: white;
    text-align: center;
    font-size: 12pt;
    font-size: auto;
}
#works a{color: rgb(122, 153, 181);
    text-decoration: none;
    
}
#works a:hover{
    color: rgb(122, 153, 181);
    text-decoration: none;
}