/* 各區背景圖 */
#home{
    background-image: url(../personal/img/HOME.jpg);
}
#about{
   background-image: url(../personal/img/aboutbg.png);

    /* background-image: url(../personal/img/ABOUTIMG.jpg); */
   /* width: 30%; */
   /* background-color: rgb(206, 174, 131); */
}
#works{
    background-image: url(../personal/img/worksbg.png);
    padding-left: 200px;
    /* padding-right: 100px; */
    text-align: center;
}

/* 視窗寬高滿版 */
html,body{
    width: 100%;
    height: 100%;
   
    font-family:  Arial, sans-serif;
}
.container{
    width: 80%;
    margin:auto;
}
/* 各區背景共同設定 */
section{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
}
#works{
    padding-top: 30px;
}
/* 文字方塊設定 */
.txt-bg{
    background-color: rgba(255, 255,255,.7);
    border-radius: 50px;
    padding: 50px;
    text-align: justify;
    width: 800px;
    margin: auto;
}
.txt-bg h2{
    text-align: center;
}
.txt-bg i{
    color: brown;
}
.txt-bgabout{
    background-color: rgba(255, 255,255,.3);
    /* text-shadow: 2pt; */
    border-radius: 50px;
    padding: 50px ;
    text-align: justify;
    width: 800px;
    margin: auto;
    
}
.txt-bgabout h2{
    color: rgb(77, 23, 7);
    
    /* text-shadow: 2pt; */
    text-align: left;
    line-height: 2.5;
    font-size: 24px;
}
.txt-bgabout p{
    /* text-shadow: 2pt; */
    text-align: justify;
    line-height: 2;
}
/* #home .homesize{
    width: 100%;
    margin: auto;
}
#home img{
    width: 100%;
}
#about .aboutsize{
    width: 100%;
    margin: auto;
}
#about img{
    width: 100%;
} */


#works .box{
    width:15%;
    display: inline-block;
}
#works img{
    width: 80%;
    /* float: left; */
    border: 10px solid white;
    
    margin: 30px;}
#works .box h3{
    font-size: 14pt;
    text-align: center;}